@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: #75B79E;
    font-size: 56px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 117px;
    height: 146px;
    min-width: 117px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 2%;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    padding: 24px 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.face img {
    width: 100%;
}

.front {
    transform: rotateY(180deg);
}

.flipCard1 {
    transform: rotateY(0deg);
}

.flipCard2 {
    transform: rotateY(-180deg);
}

.match {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
